@charset "UTF-8";

html{
    text-align: center;
}

header {
    background-color: aliceblue;
    padding: 50px 0;
}

header img {
    border-radius: 50%;
}

main{
    background-color: beige;
}

footer{
    background-color: rgb(125, 148, 141);
}

h2{
    background-color: rgb(125, 148, 141);
    color: #fff;
    padding: 10px;
}

.content{
    width: 20%;
    height: 200px;
    border: solid 2px rgb(125, 148, 141);
    background-color: #fff;
}